.App {
  overflow: hidden;
  min-height: 100vh;
}
.App p {
  margin: 0;
}
.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.App li.clickable {
  cursor: pointer;
}
.App.light h1,
.App.light h2,
.App.light h3,
.App.light h4,
.App.light h5,
.App.light a,
.App.light span,
.App.light p,
.App.light i,
.App.light li,
.App.light label {
  color: #000;
}
.App.dark {
  background-color: #363795;
}
.App.dark h1,
.App.dark h2,
.App.dark h3,
.App.dark h4,
.App.dark h5,
.App.dark a,
.App.dark span,
.App.dark p,
.App.dark i,
.App.dark li,
.App.dark label {
  color: #e5e5e5;
}
.App.dark .nav a:hover,
.App.dark .pagination a:hover {
  color: #000;
}
.App .main-content {
  position: relative;
  width: 80%;
  margin: 70px auto;
}
.App .nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.App .splide {
  padding-left: 0;
  padding-right: 0;
}
