@light-color: #000;
@light-active-color: #47b2f5;
@dark-color: #e5e5e5;
@dark-active-color: #47b2f5;

// :root {
//     --joy-palette-neutral-plainHoverBg: #000;
// }

.App {

    overflow: hidden;
    min-height: 100vh;

    p {
        margin: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li.clickable {
        cursor: pointer;
    }
    
    &.light {
        h1,h2,h3,h4,h5,a,span,p,i,li,label {
            color: @light-color;
        }

    }

    &.dark {
        background-color: #363795;

        h1,h2,h3,h4,h5,a,span,p,i,li,label {
            color: @dark-color;
        }

        .nav a:hover, .pagination a:hover{
            color: @light-color;
        }
       
    }

    .main-content {
        position: relative;
        width: 80%;
        margin: 70px auto;
    }

    .nav {

        position: absolute;
        top: 0;
        width: 100%;
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }

    .splide {
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
   
}

